<div class="from-group float-right">
<a class="btn btn-danger" href="/document/list"><i class="fa fa-list-alt"></i> ดูข้อมูลทั้งหมด</a>
<a class="btn btn-secondary" href="/document"><i class="fa fa-list-alt"></i> กลับไปที่หน้าหลัก</a>
<a class="btn btn-secondary" href="/document/showOrEdit"><i class="fa fa-list-alt"></i> แสดงทุกปีการศึกษา</a>
</div>
<h4>ข้อมูลการเข้าสระว่ายน้ำ</h4>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    เลือกปีการศึกษา
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/document/2559">ปีการศึกษา 2559</a>
    <a class="dropdown-item" href="/document/2560">ปีการศึกษา 2560</a>
    <a class="dropdown-item" href="/document/2561">ปีการศึกษา 2561</a>
    <a class="dropdown-item" href="/document/2562">ปีการศึกษา 2562</a>
    <a class="dropdown-item disabled" href="">ปีการศึกษา 2563</a>
    <a class="dropdown-item disabled" href="">ปีการศึกษา 2564</a>
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/document/download">Download</a>
  </div>
</div>
<br>


    


<div class="panel panel-default">
        <div class="panel-heading"><br><h5>ปีการศึกษา 2561</h5></div>
        <div class="panel-body">
            <a class="btn btn-secondary" href="/document/list25"><i class="fa fa-list-alt"></i> มกราคม</a>
            <a class="btn btn-secondary" href="/document/list26"><i class="fa fa-list-alt"></i> กุมภาพันธ์</a>
            <a class="btn btn-secondary" href="/document/list27"><i class="fa fa-list-alt"></i> มีนาคม</a>
            <a class="btn btn-secondary" href="/document/list28"><i class="fa fa-list-alt"></i> เมษายน</a>
            <a class="btn btn-secondary" href="/document/list29"><i class="fa fa-list-alt"></i> พฤษภาคม</a>
            <a class="btn btn-secondary" href="/document/list30"><i class="fa fa-list-alt"></i> มิถุนายน</a>
            <a class="btn btn-secondary" href="/document/list31"><i class="fa fa-list-alt"></i> กรกฎาคม</a>
            <a class="btn btn-secondary" href="/document/list32"><i class="fa fa-list-alt"></i> สิงหาคม</a> <br><br>
         
            <a class="btn btn-secondary" href="/document/list33"><i class="fa fa-list-alt"></i> กันยายน</a>
            <a class="btn btn-secondary" href="/document/list34"><i class="fa fa-list-alt"></i> ตุลาคม</a>
            <a class="btn btn-secondary" href="/document/list35"><i class="fa fa-list-alt"></i> พฤษจิกายน</a>
            <a class="btn btn-secondary" href="/document/list36"><i class="fa fa-list-alt"></i> ธันวาคม</a>
            <a class="btn btn-danger" href="/document/list2561"><i class="fa fa-list-alt"></i> ดูข้อมูลปี 2561</a>
        </div>
    </div>






