<div class="from-group float-right">
<a class="btn btn-danger" href="/document/list"><i class="fa fa-list-alt"></i> ดูข้อมูลทั้งหมด</a>
<a class="btn btn-secondary" href="/document"><i class="fa fa-list-alt"></i> กลับไปที่หน้าหลัก</a>
<a class="btn btn-secondary" href="/document/showOrEdit"><i class="fa fa-list-alt"></i> แสดงทุกปีการศึกษา</a>
</div>
<h4>ข้อมูลการเข้าสระว่ายน้ำ</h4>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    เลือกปีการศึกษา
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/document/2559">ปีการศึกษา 2559</a>
    <a class="dropdown-item" href="/document/2560">ปีการศึกษา 2560</a>
    <a class="dropdown-item" href="/document/2561">ปีการศึกษา 2561</a>
    <a class="dropdown-item" href="/document/2562">ปีการศึกษา 2562</a>
    <a class="dropdown-item disabled" href="">ปีการศึกษา 2563</a>
    <a class="dropdown-item disabled" href="">ปีการศึกษา 2564</a>
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/document/download">Download</a>
  </div>
</div>
<br>


    

 <div class="panel panel-default">
        <div class="panel-heading"><br><h5>ปีการศึกษา 2562</h5></div>
        <div class="panel-body">
            <a class="btn btn-secondary" href="/document/list37"><i class="fa fa-list-alt"></i> มกราคม</a>
            <a class="btn btn-secondary" href="/document/list38"><i class="fa fa-list-alt"></i> กุมภาพันธ์</a>
            <a class="btn btn-secondary" href="/document/list39"><i class="fa fa-list-alt"></i> มีนาคม</a>
            <a class="btn btn-secondary" href="/document/list40"><i class="fa fa-list-alt"></i> เมษายน</a>
            <a class="btn btn-secondary" href="/document/list41"><i class="fa fa-list-alt"></i> พฤษภาคม</a>
            <a class="btn btn-secondary" href="/document/list42"><i class="fa fa-list-alt"></i> มิถุนายน</a>
            <a class="btn btn-secondary" href="/document/list43"><i class="fa fa-list-alt"></i> กรกฎาคม</a>
            <a class="btn btn-secondary" href="/document/list44"><i class="fa fa-list-alt"></i> สิงหาคม</a> <br><br>
         
            <a class="btn btn-secondary" href="/document/list45"><i class="fa fa-list-alt"></i> กันยายน</a>
            <a class="btn btn-secondary" href="/document/list46"><i class="fa fa-list-alt"></i> ตุลาคม</a>
            <a class="btn btn-secondary" href="/document/list47"><i class="fa fa-list-alt"></i> พฤษจิกายน</a>
            <a class="btn btn-secondary" href="/document/list48"><i class="fa fa-list-alt"></i> ธันวาคม</a>
            <a class="btn btn-danger" href="/document/list2562"><i class="fa fa-list-alt"></i> ดูข้อมูลปี 2562</a>
        </div>
    </div>






